@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Love Ya Like A Sister", cursive;
        font-weight: 400;
        font-style: normal;
    }
  }